* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EEE9DA;
    scroll-behavior: smooth;
}

body {
    width: 60%;
    margin: 0 auto;
}

li, a, button {
    font-size: 16px;
    color: #323232;
    text-decoration: none;
}

header, section {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 0.75rem;
}

p {
    font-size: 1.25rem;
}

/* Header & Nav Section */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.nav_links, .projects_list, .skills_list  {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    /* padding: 0px 20px; */
    margin-left: 1.5rem;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #93BFCF;
}

button {
    padding: 9px 25px;
    background-color: rgba(96, 150, 180, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    align-items:flex-end;
}

button:hover {
    background-color: rgba(96, 150, 180, 0.8);
}

button:active {
    background-color: #BDCDD6;  
}

/* .about_me_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center; 
} */

/* About Me Section  */

.about_me_container {
    display: flex;
    gap: 0.85rem;
}

.about_me_container img {
    width: 250px;
    flex-shrink: 0;
    border-radius: 10px;
}

/* Projects section */

/* .project_img_container {
    width: 50%;
    height: 200px;
    overflow: hidden;
}  */

.project_img_container img {
    width: 50%;
    /* display: block; */ 
}

.project_description {
    margin: 1rem 0;
}


/* Skills Section */

.skills_container {
    display: flex;
    justify-content: space-between;
}


.skills_list svg {
    width: 30px;
    color: grey;
    flex-wrap: wrap;
}

/* Footer Section */

footer {
    text-align: center;
    padding-bottom: 1rem;
}

/* Contact Page */ 

.profile_list {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-top: 1rem;
}

.profile_list svg {
    width: 30px;
    color: grey;
    flex-wrap: wrap;
}